doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Music

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body(style='background-color:rgb(255,51,38)')

    article
      section(style='background-color:#DEB887;border-radius:40px;')
        h1(style='font-size:50px;text-shadow: 3px 3px 3px #A0522D') Teknologi Kolaborasi Perangkat Lunak

      section(style='background-color:#DEB887;border-radius:40px;')
        h2(style='text-shadow: 3px 3px 3px #A0522D') ALL ABOUT MUSIC
        h4 Disusun Oleh:
        ul
          br
          li Kelvin Jingga - 141112681
          li Kevin Fransetio - 141110876
          li Widianto Winoto - 141112362
          li Yohanes Jerry - 141114851

      section(style='background-color:#DEB887;border-radius:40px;').history
        h2(style='text-shadow: 3px 3px 3px #A0522D') Sejarah Musik
        p Musik dikenal sejak kehadiran manusia modern Homo sapien yakni sekitar 180.000 hingga 100.000 tahun yang lalu. Tiada siapa tahu bila manusia mula  mengenal seni dan musik. Dari penemuan arkeologi pada lokasi-lokasi seperti pada benua Afrika sekitar 180.000 tahun hingga 100.000 tahun dahulu telah menunjukkan perubahan evolusi dari pemikiran otak manusia. Manusia menyatakan perasaan takut mereka dan gembira menggunakan suara-suara. Bermain-main dengan suara mereka menjadi lagu, hymne atau syair nyanyian kecil yang diinspirasikan oleh kicauan burung. Kayu-kayu dan batuan keras dipukul untuk mengeluarkan bunyi dan irama yang mengasyikkan. Mungkin secara tidak sengaja mereka telah mengetuk batang pohon yang berongga di dalamnya dengan batang kayu yang mengeluarkan bunyi kuat. Kulit binatang yang mereka gunakan sebagai pakaian diletakkan pula untuk menutup rongga kayu tersebut besar menjadi gendang.

      section(style='background-color:#DEB887;border-radius:40px;').wrap
        h2(style='text-shadow: 3px 3px 3px #A0522D') 1. House music
        p House music sendiri merupakan genre dalam musik EDM yang paling banyak diterima oleh publik. Hampir semua musik Top 40 dipengaruhi house music, begitu pula sebaliknya. Genre musik ini berasal dari kota Chicago, Amerika. Kata “house” sendiri diambil dari nama sebuah kelab malam di kota itu, The Warehouse.
        Ciri khas house music adalah tempo yang upbeat, groovy dan kadang didominasi oleh kord piano dengan tempo sekitar 126-128 beats per minute (BPM). Saking populernya, genre ini punya berbagai macam sub-genre tersendiri:
          ul
           p
           li Acid House
           li Electro House
           li Dutch House
           li Progressive House
           li Deep House

      section(style='background-color:#DEB887;border-radius:40px;')
        h2(style='text-shadow: 3px 3px 3px #A0522D') 2. Trance
        p Trance merupakan genre EDM yang berkembang di Jerman pada awal dekade 90-an. Karakteristik utama musik ini ialah tempo yang berkisar dari 125-160 BPM serta alur yang naik turun. Secara harfiah, trance berarti keadaan ketika kamu berada di alam bawah sadar. Sesuai namanya, musik trance ini bisa bikin kamu terhipnotis dan merasa senang atau sedih. Sensasi emosional ini tercipta melalui kombinasi berbagai ritme dan layer musik, dengan melodi dan vokal yang repetitif. Contoh lagu trance :
          ul
           p
           li Armin Van Buuren feat. Miri Ben Ari – Intense
           li BT – Skylarking
           li Above & Beyond – Alchemy
           li Neelix – Wherever you are
      section(style='background-color:#DEB887;border-radius:40px;')
        h2(style='text-shadow: 3px 3px 3px #A0522D') 3. Techno
        p Genre ini sendiri muncul di Detroit pada awal 1980. Sebagai bagian dari EDM, ciri khas musik techno ialah penggunaan berbagai teknologi baru dalam dunia musik. Sebagian besar musik techno merupakan kombinasi synthesizer, hentakan drum, serta sequencer.
        Di bawah ini ada beberapa DJ yang dikenal dengan pengaruh techno di setiap setnya:
        ul
         p
         li Carl Cox
         li Adam Bayer
         li Richie Hawtin
        Techno juga punya sub-genre, yaitu minimal techno. Minimal techno menggunakan sampling musik yang lebih sedikit dan repetitif. Mottonya: less is more. Tertarik? Coba dengarkan Droplex – Dance dan Daniel Portman – Rock the Funk.
      section(style='background-color:#DEB887;border-radius:40px;')
        h2(style='text-shadow: 3px 3px 3px #A0522D') 4.DUBSTEP
        p Dubstep pertama kali diperkenalkan di London pada akhir tahun 90-an. Musik ini punya sound yang khas serta komposisi bass yang nggak beraturan dan terdistorsi.
        Dubstep tidak cuma dimonopoli sama Skrillex aja. Ada banyak musisi dubstep lain yang harus kamu dengarkan. Coba deh simak beberapa track ber-genre dubstep yang ada di bawah ini:
        ul
         p
         li Knife Party – Centipede
         li Flux Pavillion – I can’t stop
         li Mount Kimbie – Carbonated (post-dubstep)
        

      section(style='background-color:#DEB887;border-radius:40px;')
        h2(style='text-shadow: 3px 3px 3px #A0522D').bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
      section(style='background-color:#DEB887;border-radius:40px;')
        h2(style='text-shadow: 3px 3px 3px #A0522D') contoh
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
      section(style='background-color:#DEB887;border-radius:40px;')
    script(src='build/build.js')
    script(src="bower_components/bespoke.js/dist/bespoke.min.js")